#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* padding-top: 120px; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
}

.hover-this:hover ~ .cursor {
  transform:translate(-50%, -50%) scale(8);
}


@media(max-width: 900px) {
  
  .hover-this {
    width: 100%;
    padding: 20px 0;
    display: inline-block;
  }
}
/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}
 /* Navbar */

.Navbar button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}

.Navbar{
  padding: 8px;
  background-color: white;
}

.MuiToolbar-root, .css-1g467ij-MuiToolbar-root{
  background-color: rgb(0, 0, 0);
}

.navbar-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #fff;
  margin-left: 20px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  transition: transform 0.3s, color 0.3s;
}

.navbar-title:hover {
  transform: scale(1.1);
  color: #ff4081; /* Stylish hover color */
}

/* Navbar button styles */

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}



/*List.jsx (EventDetails) */
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  }

.read-the-docs {
  color: #888;
}



/* .miniCard{
  background-color: lightblue;
  text-align: left;
  display: flex;
  width: 100vb;
  flex-direction: row;
  border-radius: 10px;
  gap: 200px;
  margin: 20px;
  padding: 20px;
} */


.miniCardCollection{
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 60px;
}
.miniCardCollection h2{
  color: white;
  font-weight: 600;
  font-size: 40px;

  text-align: left;
}


.miniCard {
  background-color: rgb(44, 44, 50);
  text-align: left;
  gap: 20px;
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 600px;
  max-width: 1000px;
}

.cardImage {
  display: flex;
  align-items: center;
  max-width: 300px;
}
 
.cardImage img {
  width: 100%;
  height: auto;
}

.cardContent {
  padding: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardHeader h2 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
  color: #ffffff;
}

.cardHeader .price {
  font-size: 1.25em;
  font-weight: bold;
  color: #ffffff;
}

.cardContent p {
  margin: 8px 0;
  color: #b5b5b5;
}

.cardContent .location {
  font-size: 1em;
  color: #a4a4a4;
  align-self: flex-start;
}

.cardArrow {
  display: flex;
  align-self: flex-end;
  padding: 0 16px;
  font-size: 1.5em;
  color: #666;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.cardArrow:hover {
  transform: scale(1.5);
  color: #ff4081; /* Stylish hover color */
}


