/* General Styling */
.page-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.profile-events-container {
  display: flex;
  align-items: flex-start;
  /* gap: 30px; */
  width: 100%;
  /* max-width: 1800px; */
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Profile Card */
.profile-card {
  flex: 1;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  padding: 40px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  color: #333333;
}

.profile-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/* Profile Picture */
.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  /* margin-bottom: 25px; */
  border: 6px solid #4a90e2;
  transition: border 0.3s, transform 0.3s;
}

.profile-picture:hover {
  border: 6px solid #357abd;
  transform: scale(1.05);
}

/* Profile Info */
.profile-header {
  margin-bottom: 30px;
}

.profile-name {
  font-size: 36px;
  font-weight: 800;
  color: #333333;
  margin-bottom: 15px;
}

.profile-email,
.profile-city {
  font-size: 22px;
  color: #333333;
}

/* Form */
.profile-form {
  text-align: left;
}

.form-header {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
  color: #4a90e2;
}

.form-group {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  color: white;
}

.form-group label {
  font-weight: 600;
  margin-right: 20px;
  color: #ffffff;
  width: 150px;
}

.form-control {
  width: 100%;
  padding: 16px;
  border: 2px solid #4a90e2;
  border-radius: 10px;
  font-size: 18px;
  background-color: #ffffff;
  color: #333333;
  transition: border 0.3s;
}

.form-control:focus {
  border: 2px solid #357abd;
  outline: none;
}

/* Buttons */
.btn-primary {
  background: linear-gradient(90deg, #4a90e2, #357abd);
  color: #ffffff;
  padding: 16px 22px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: background 0.3s, transform 0.3s;
  margin-top: 25px;
  display: block;
  width: 100%;
}

.btn-primary:hover {
  background: linear-gradient(90deg, #357abd, #4a90e2);
  transform: translateY(-3px);
}

/* Events Container */
.events-container {
  display: flex;
  flex-direction: column;
  background: #181a26;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  padding-left: 40px;
  transition: transform 0.3s, box-shadow 0.3s;
  color: #ffffff;
  flex: 2;
  transform: scale(0.85);
  transform-origin: top left; /* Adjust the origin to the top-left corner */
  
}

.events-header {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;
  color: #ffffff;
}

.events-cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
